/* Global */

 :root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-middle-grey: #949292;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-red-wine: #9C344C;
    --color-pink-white: #FDC5CD;
    --color-white-red-wine: #F27391;
    --color-purple: #6757A5;
    --color-light-purple: #d8d2f0;
    --color-middle-purple: #4A3E79;
    --color-dark-purple: #4B3A8D;
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-bolder-radius: 4px;
    /* Animation */
    --animation-duration: 300ms;
}


/*box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성입니다.*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    width:100%;
}

a {
    text-decoration: none;
    margin:0px;
}

h1 {
    font-size: var(--font-large);
    color: var(--color-dark-purple);
}

h2 {
    font-size: var(--font-medium);
}

#navbar{
    display:flex;
    justify-content: space-between;
    background-color: var(--color-purple);
    width:100%;
}

#navbar div{
    display:flex;
    align-items: center;
}

#navbar a{
    color: var(--color-light-white);
    margin: 0px 0px 0px 24px;
    font-size: var(--font-medium);
    font-weight: bold;
}

#navbar ul{
    display:flex;
    list-style-type: none;
    margin:12px;
}

#navbar ul li{
    padding: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-light-white);
    transition: all var(--animation-duration) ease;
}

#navbar ul li a{
    font-size: 22px;
    margin:0px;
}

#navbar ul li:hover{
    background-color: var(--color-light-white);
    border-radius: 4px;
}

#navbar ul li:hover a{
    color: var(--color-purple);
}

.vinish{
    display:none;
}

#main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}


#main div span{
    font-size: var(--font-medium);
    margin: 24px 0px 24px 0px;
    font-weight: bold;
}

#main div{
    display:flex;
    flex-direction: column;

}

#main div div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#main div div p{
    margin: 0px;
    font-weight: bold;
}

#content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

@media screen and (max-width: 768px) {
    #main{
        max-width: 748px;
        margin:24px;
    }

    #content{
        max-width: 748px;
        margin:48px;
    }
}

@media screen and (max-width: 512px) {
    #navbar{
        flex-direction: column;
    }

    #navbar a{
        margin:0px;
    }

    #navbar div{
        justify-content: center;
    }

    #navbar ul{
        flex-direction: column;
        padding:0px;
    }

    #content{
        max-width: 500px;
        margin:48px;
    }

    #main{
        max-width: 500px;
        margin:24px;
    }

    #main div a{
        font-size : var(--font-regular);
    }

    #main div div p{
        font-size : var(--font-micro);
    }
}